<section class="chat-bar">
    <div class="chat-header">
        {{>header headerData}}
        {{>form formData}}
        {{>card cardData}}
    </div>
    <div class="chat-wrapper">
        <div class="chat-content">
            {{>chatContent chatContentData}}
            <div class="form-message">
            {{>form formContent}}
        </div>
        </div>
        
    </div>
</section>